body {
	background-color: #dbdbdb;
	text-align: center;
}

header {
	/*color: white;*/
	font-weight: bold;
	margin: 20px;
}

#about, #projects, #projects2, #location {
	margin: 30px;
	margin-bottom: 50px;
	padding: 10px;
}

#profile {
	margin: 5px;
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

#profile:hover {
	border: 2px black solid;
}

#about {
	background-color: white;
	padding: 10px;
}

#about > p {
	font-style: italic;
}

#projects, #projects2 {
	padding: 10px;
}

#projects {
	background-color: white;
}

#projects2 {
	background-color: #dbdbdb;
	height: 100vh;
}

#projects img, #projects2 img {
	width: 150px;
	height: 150px;
	border-radius: 15%;
}

#projects2 a {
	text-decoration: none; 
}

#columns {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}

.cols {
	border: 2px solid black;
	padding-bottom: 10px;
	flex-basis: 33%;
}

.row {
	margin-top: 30px;
}

#map {
	height: 400px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#location {
	background-color: white;
}