body {
	background-color: #b5ccf2;
	text-align: center;
}

header {
	color: white;
	font-weight: bold;
	margin: 20px;
}

#profile {
	margin: 5px;
	width: 250px;
	height: 250px;
	border-radius: 50%;
}

#profile:hover {
	border: 2px black solid;
}

#about {
	margin-bottom: 30px;
	background-color: white;
	padding: 10px;
}

#about > p {
	font-style: italic;
}

#projects {
	background-color: white;
	padding: 10px;
}

#columns {
	display: flex;
	flex-direction: row;
}

.cols {
	border: 2px solid black;
	padding-bottom: 10px;
	flex-basis: 33%;
}

#projects img {
	width: 150px;
	height: 150px;
	border-radius: 15%;
}

